<div class="wrapper {{ theme }}">
  <div class="chat-box" *ngIf="visible" [@fadeInOut]="visible">
    <div class="chat-box-header" (click)="toggleChat()">
      <div class="">
        <div class="operator-status">
          <!-- {{ operator.status }} -->
          <fa name="far fa-window-minimize" (click)="toggleChat()"></fa>
          <button class="chat-button-header" (click)="toggleChat()">✕</button>
        </div>
        <img src="../../assets/talk-bubbles.png" class="avatar" />
        <h3 class="operator-name">
          Chat With Us
        </h3>
      </div>
    </div>
    <div class="chat-box-main">
      <div class="chat-message-bottom" #bottom></div>
      <ng-container *ngFor="let message of messages">
        <div class="chat-message" [class.chat-message-received]="message.type === 'received'" [@fadeIn] [class.chat-message-sent]="message.type === 'sent'">
          <div>
            <img src="../../assets/user-solid.svg" class="chat-message-from-avatar" *ngIf="message.type === 'sent'" />
            <img src="../../assets/chatbot.png" class="chat-message-from-avatar" *ngIf="message.type === 'received'" />

            <div class="chat-message-text">
              {{ message.text }}
            </div>
          </div>
          <div class="chat-message-date">
            {{ message.date | date: "short" }}
          </div>
        </div>
      </ng-container>
    </div>
    <div class="chat-box-footer">
      <textarea type="text" class="chat-input-text" placeholder="Type message..." #message (keydown.enter)="onSubmit()" (keyup.enter)="message.value = ''"
        (keyup.escape)="dismiss.emit()"></textarea>
      <button class="chat-input-submit" type="submit">↩︎</button>
    </div>
  </div>
  <div id="container" style="position:fixed;bottom:0;right:0;z-index:1000;" *ngIf="!visible">
    <img id="chatbuttonimg" style="float:right;cursor: pointer; width:130px; height:100px;" src="assets/talk-bubbles.png" (click)="toggleChat()"
    />
  </div>
  <!-- <button class="chat-button" (click)="toggleChat()">
    <span [@fadeIn] *ngIf="visible">✕</span>
    <span [@fadeIn] *ngIf="!visible">?</span> -->

  <!-- </button> -->
</div>